# Entornos virtuales
venv/
backend-admin/venv/

# Archivos sensibles
*.env

# Archivos de base de datos
*.sqlite3

# Archivos de caché Python
__pycache__/
*.pyc

# Node modules frontend
frontend-admin/node_modules/

# Archivos de compilación
dist/
build/

# Media (solo si no quieres subir imágenes)
backend-admin/media/
